/* basic layout */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(186, 221, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: white;
    padding-left: 2%;
    padding-top: 0.8%;
    padding-bottom: 0.5%;  
      
}

main{
    width: 70%;
    margin: 0.5% auto;
    padding: 1%;
}

nav{
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;
    padding-left: 5%;
    vertical-align: middle;
    font-size: 22px;
}

section{
    margin-top: 2px;
    background-color: white;
    padding-bottom: 50px;
}

h1{
    display: inline-block;
    font-size: 250%;
    vertical-align: middle;
}

h2{
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}


a{
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-width: 2px;
}

ul{
    padding-left: 4%;
}

li{
    list-style: none;
    line-height: 60px;
    font-size: 22px;
}
/* logo placement */
#logo{
    vertical-align: middle;
}

/* nav buttons */
.main-active{
    background-color: lightskyblue;
    color: white;
}

.main-deactive{
    border-style: solid; 
    border-color: gray;
    color: gray;
}

/* list marker */
.list-marker{
    margin-right: 35px;
    margin-left: 15px;
}

/* activity check */
.done{
    margin: 0px 20px;
    line-height: 27px;
    width: 27px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    color: green;
}

.not{
    color: red;
}

/* activity info */
.activity-info{
    margin: 0px 20px;
    padding: 2px 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    line-height: 28px;
    color: white;
}

.editor{
    background-color: lightseagreen;
}

.qgoal{
    background-color: purple;
}

.recruting{
    background-color: green;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: violet;
}

.sales{
    background-color: lime;
}